services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            App\Services\Connector\Facebook\FacebookClientGraphInterface: '@App\Services\Connector\Facebook\FacebookGraphClientCached'

    App\Services\Connector\Facebook\FacebookGraphConnector:
    App\Services\Connector\Facebook\FacebookGraphConnectorProcessor:
